:root {
  --border-radius: 16px;
  --border-radius-sm: 8px;
  --button-padding-y: 0.6em;
  --button-padding-x: 1.2em;
  --button-font-weight: 500;
}

button {
  background-color: var(--primary);
  color: var(--primary-content);
  padding: var(--button-padding-y) var(--button-padding-x);
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: inherit;
  font-family: inherit;
  font-weight: var(--button-font-weight);
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: var(--primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.secondary {
  background-color: var(--secondary);
  color: var(--secondary-content);
}
