pre {
  background-color: var(--base);
  color: var(--base-content-muted);
  padding: 1rem;
  overflow-x: auto;
  line-height: initial;
}

pre,
code {
  font-family: var(--font-family-mono);
  margin: 0;
  display: block;
}

pre > code {
  font-size: 0.8rem;
  line-height: 1.5;
}

code:not(pre > code) {
  display: inline-block;
  background-color: var(--surface);
  color: var(--surface-content);
  padding: 0.2rem 0.3rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
