:root {
  --dim-0: 0;
  --dim-1: 0.25rem;
  --dim-2: 0.5rem;
  --dim-3: 0.75rem;
  --dim-4: 1rem;
}
.gap-0 {
  gap: var(--dim-0);
}
.gap-1 {
  gap: var(--dim-1);
}
.gap-2 {
  gap: var(--dim-2);
}
.gap-3 {
  gap: var(--dim-3);
}
.gap-4 {
  gap: var(--dim-4);
}
.gap-6 {
  gap: calc(var(--dim-2) * 3);
}
.gap-8 {
  gap: calc(var(--dim-2) * 4);
}
