fieldset,
form {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 1rem;
  font-size: 1rem;
}

fieldset {
  border: solid 1px var(--surface);
  padding: 1rem;
  margin: 0;
  border-radius: var(--border-radius);

  & legend {
    font-size: inherit;
    padding: 0 0.5rem;
    margin: -0.5rem;
    /* margin: 0 0 1rem 0rem; */
    /* font-size: 1.2rem; */
    font-weight: 600;
  }
}

form label,
fieldset label {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  & input {
    margin-top: 0.5rem;
  }
}

input {
  --padding: 0.8rem;
  font-size: inherit;
  background: transparent;
  padding: var(--padding);
  border: solid 1px var(--surface);
  border-radius: var(--border-radius);

  &::placeholder {
    font-style: italic;
  }
}

input[type="checkbox"] {
  --transition-duration: 0.1s;
  appearance: none;
  background-color: transparent;
  border: solid 1px var(--base-content);
  border-radius: 0.2rem;
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  transition: background-color var(--transition-duration) ease,
    opacity var(--transition-duration) ease,
    border-color var(--transition-duration) ease;

  &:checked {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
    background-size: 100% 100%;
    background-color: var(--primary);
    border-color: var(--primary);
  }
}
label:has(input[type="checkbox"]) {
  gap: 0.5rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
