@import url(container.css);
@import url(flex.css);

main {
  & section,
  & article {
    --spacing-y: 2rem;
    /* --spacing-y: 0rem; */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 var(--spacing-y) 0;
  }
}

body > header {
  --background-color: var(--base);
  --color: var(--base-content);
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body > footer {
  --space-y: 1rem;
  --space-x: 3rem;
  width: 100%;
  padding: var(--space-y) var(--space-x);
  margin: 0;
  background-color: var(--background-color);
  color: var(--color);
}

body > main {
  --main-spacing-y: 2rem;
  padding-top: var(--main-spacing-y);
  padding-bottom: var(--main-spacing-y);
}

body > footer,
#footer {
  --background-color: var(--base);
  --color: var(--base-content);
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;

  & nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  a {
    padding: 0;
    margin: 0;
  }
}
