:root {
  color: #213547;
  background-color: #ffffff;
  line-height: 1.2;
}

a {
  --color: var(--primary);
  --color-hover: var(--primary-hover);
  --color-active: var(--secondary);
  --color-focus: var(--secondary-hover);
  --color-visited: var(--base);
  --font-weight: 500;
}

a {
  color: var(--color);
  font-weight: var(--font-weight);
  text-decoration: none;
  &:hover,
  &.hover {
    color: var(--color-hover);
    text-decoration: underline;
  }
  &:active,
  &.active {
    color: var(--color-active);
    text-decoration: none;
  }
  &:focus,
  &.focus {
    color: var(--color-focus);
  }
  &:visited,
  &.visited {
    color: var(--color-content);
    text-decoration: underline;
  }
}
