:root {
  --nav-spacing-x: 1rem;
  --nav-spacing-y: 1rem;
  --nav-padding-x: 0rem;
  --nav-padding-y: var(--dim-0);
  --nav-font-size: 1.1rem;
  --nav-font-weight: 600;
  --nav-a-color: var(--header-color);
}

header nav {
  --font-weight: var(--nav-font-weight);
  font-size: var(--nav-font-size);
  font-weight: var(--font-weight);
  list-style-type: none;

  & a {
    font-weight: var(--nav-font-weight);
    color: var(--nav-a-color);
    display: inline-block;
    padding: var(--nav-spacing-y) var(--nav-spacing-x);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
