:root {
  --nav-spacing-x: 1rem;
  --nav-spacing-y: 1rem;
  --nav-padding-x: 0rem;
  --nav-padding-y: var(--dim-0);
  --nav-font-size: 1.1rem;
  --nav-font-weight: 600;
  --nav-a-color: var(--header-color);
}

nav {
  --font-weight: var(--nav-font-weight);
  font-size: var(--nav-font-size);
  font-weight: var(--font-weight);
  width: 100%;
  margin: 0;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  overflow: hidden;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & a {
    font-weight: var(--nav-font-weight);
    color: var(--nav-a-color);
    display: inline-block;
    padding: var(--nav-spacing-y) var(--nav-spacing-x);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

container > nav > ul:first-of-type {
  margin-left: calc(var(--nav-spacing-x) * -1);
}

container > nav > ul:last-of-type {
  margin-right: calc(var(--nav-spacing-x) * -1);
}
