* {
  --rounded-box: 1rem;
}

:root {
  color: #213547;
  background-color: #ffffff;
  line-height: 1.2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  place-items: center;
}
