* {
  --rounded-box: 1rem;
  --a-color: var(--base-content);
  --a-color-hover: var(--primary);
  list-style: none;
}

:root {
  color: #213547;
  background-color: #ffffff;
  line-height: 1.2;
}

a {
  color: var(--a-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--a-color-hover);
}

body {
  margin: 0;
  place-items: center;
}
