#footer-logo {
  height: 6rem;
  max-width: 100%;
  object-fit: scale-down;
  width: auto;
}

footer row section {
  flex-grow: 1;
  flex-basis: 0;
}

#flexbox-playground {
  width: 100%;
  background: var(--surface);
  border-radius: var(--border-radius);
  padding: 0.5rem;

  > div {
    margin-inline: auto;
    background: var(--surface-content);
    padding: 0.5rem;
    width: 400px;
    min-height: 20rem;
    border-radius: var(--border-radius);

    & > * {
      /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      padding: 0.5rem;
    }
  }

  /* Overwrites theme background */
  & code.hljs {
    background: none;
  }
}

.item {
  font-size: 0.8rem;
  padding: var(--dim-2);
  border: solid 1px var(--surface);
  border-radius: var(--border-radius);
}

.canvas {
  width: 100%;
  border: dashed 1px var(--surface);
  padding: var(--dim-4);
  .inline-row {
    margin-inline-start: var(--dim-2);
  }
}
