#palette {
  display: grid;
  grid-template-columns: repeat(12, minmax(2rem, 1fr));
  gap: var(--dim-1);
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  width: 100%;

  .header {
    font-weight: 600;
    font-size: var(--text-xs);
    color: var(--foreground);
  }
  
  .color {
    width: 100%;
    height: 2.5rem;
    border-radius: var(--border-radius);
  }
}