@import url(colors.css);
@import url(theme.css);
@import url(base.css);
@import url(utilities.css);
@import url(flex.css);
@import url(grid.css);
@import url(layout.css);
@import url(typo.css);
@import url(code.css);
@import url(media.css);
@import url(link.css);
@import url(button.css);
@import url(form.css);
@import url(input.css);
@import url(tabs.css);
@import url(card.css);
@import url(nav.css);
@import url(style.css);
@import url(list.css);
@import url(switch.css);
@import url(aside.css);
@import url(table.css);
:root {
  --size-step: 0.25rem;
}

@layer utilities {
  .m-2xs {
    margin: calc(var(--size-step) * 1);
  }
  .mt-2xs {
    margin-top: calc(var(--size-step) * 1);
  }
  .mr-2xs {
    margin-right: calc(var(--size-step) * 1);
  }
  .mb-2xs {
    margin-bottom: calc(var(--size-step) * 1);
  }
  .ml-2xs {
    margin-left: calc(var(--size-step) * 1);
  }
  .mx-2xs {
    margin-left: calc(var(--size-step) * 1);
    margin-right: calc(var(--size-step) * 1);
  }
  .my-2xs {
    margin-top: calc(var(--size-step) * 1);
    margin-bottom: calc(var(--size-step) * 1);
  }
  .p-2xs {
    padding: calc(var(--size-step) * 1);
  }
  .pt-2xs {
    padding-top: calc(var(--size-step) * 1);
  }
  .pr-2xs {
    padding-right: calc(var(--size-step) * 1);
  }
  .pb-2xs {
    padding-bottom: calc(var(--size-step) * 1);
  }
  .pl-2xs {
    padding-left: calc(var(--size-step) * 1);
  }
  .px-2xs {
    padding-left: calc(var(--size-step) * 1);
    padding-right: calc(var(--size-step) * 1);
  }
  .py-2xs {
    padding-top: calc(var(--size-step) * 1);
    padding-bottom: calc(var(--size-step) * 1);
  }
  .m-xs {
    margin: calc(var(--size-step) * 2);
  }
  .mt-xs {
    margin-top: calc(var(--size-step) * 2);
  }
  .mr-xs {
    margin-right: calc(var(--size-step) * 2);
  }
  .mb-xs {
    margin-bottom: calc(var(--size-step) * 2);
  }
  .ml-xs {
    margin-left: calc(var(--size-step) * 2);
  }
  .mx-xs {
    margin-left: calc(var(--size-step) * 2);
    margin-right: calc(var(--size-step) * 2);
  }
  .my-xs {
    margin-top: calc(var(--size-step) * 2);
    margin-bottom: calc(var(--size-step) * 2);
  }
  .p-xs {
    padding: calc(var(--size-step) * 2);
  }
  .pt-xs {
    padding-top: calc(var(--size-step) * 2);
  }
  .pr-xs {
    padding-right: calc(var(--size-step) * 2);
  }
  .pb-xs {
    padding-bottom: calc(var(--size-step) * 2);
  }
  .pl-xs {
    padding-left: calc(var(--size-step) * 2);
  }
  .px-xs {
    padding-left: calc(var(--size-step) * 2);
    padding-right: calc(var(--size-step) * 2);
  }
  .py-xs {
    padding-top: calc(var(--size-step) * 2);
    padding-bottom: calc(var(--size-step) * 2);
  }
  .m-sm {
    margin: calc(var(--size-step) * 3);
  }
  .mt-sm {
    margin-top: calc(var(--size-step) * 3);
  }
  .mr-sm {
    margin-right: calc(var(--size-step) * 3);
  }
  .mb-sm {
    margin-bottom: calc(var(--size-step) * 3);
  }
  .ml-sm {
    margin-left: calc(var(--size-step) * 3);
  }
  .mx-sm {
    margin-left: calc(var(--size-step) * 3);
    margin-right: calc(var(--size-step) * 3);
  }
  .my-sm {
    margin-top: calc(var(--size-step) * 3);
    margin-bottom: calc(var(--size-step) * 3);
  }
  .p-sm {
    padding: calc(var(--size-step) * 3);
  }
  .pt-sm {
    padding-top: calc(var(--size-step) * 3);
  }
  .pr-sm {
    padding-right: calc(var(--size-step) * 3);
  }
  .pb-sm {
    padding-bottom: calc(var(--size-step) * 3);
  }
  .pl-sm {
    padding-left: calc(var(--size-step) * 3);
  }
  .px-sm {
    padding-left: calc(var(--size-step) * 3);
    padding-right: calc(var(--size-step) * 3);
  }
  .py-sm {
    padding-top: calc(var(--size-step) * 3);
    padding-bottom: calc(var(--size-step) * 3);
  }
  .m-md {
    margin: calc(var(--size-step) * 4);
  }
  .mt-md {
    margin-top: calc(var(--size-step) * 4);
  }
  .mr-md {
    margin-right: calc(var(--size-step) * 4);
  }
  .mb-md {
    margin-bottom: calc(var(--size-step) * 4);
  }
  .ml-md {
    margin-left: calc(var(--size-step) * 4);
  }
  .mx-md {
    margin-left: calc(var(--size-step) * 4);
    margin-right: calc(var(--size-step) * 4);
  }
  .my-md {
    margin-top: calc(var(--size-step) * 4);
    margin-bottom: calc(var(--size-step) * 4);
  }
  .p-md {
    padding: calc(var(--size-step) * 4);
  }
  .pt-md {
    padding-top: calc(var(--size-step) * 4);
  }
  .pr-md {
    padding-right: calc(var(--size-step) * 4);
  }
  .pb-md {
    padding-bottom: calc(var(--size-step) * 4);
  }
  .pl-md {
    padding-left: calc(var(--size-step) * 4);
  }
  .px-md {
    padding-left: calc(var(--size-step) * 4);
    padding-right: calc(var(--size-step) * 4);
  }
  .py-md {
    padding-top: calc(var(--size-step) * 4);
    padding-bottom: calc(var(--size-step) * 4);
  }
  .m-lg {
    margin: calc(var(--size-step) * 6);
  }
  .mt-lg {
    margin-top: calc(var(--size-step) * 6);
  }
  .mr-lg {
    margin-right: calc(var(--size-step) * 6);
  }
  .mb-lg {
    margin-bottom: calc(var(--size-step) * 6);
  }
  .ml-lg {
    margin-left: calc(var(--size-step) * 6);
  }
  .mx-lg {
    margin-left: calc(var(--size-step) * 6);
    margin-right: calc(var(--size-step) * 6);
  }
  .my-lg {
    margin-top: calc(var(--size-step) * 6);
    margin-bottom: calc(var(--size-step) * 6);
  }
  .p-lg {
    padding: calc(var(--size-step) * 6);
  }
  .pt-lg {
    padding-top: calc(var(--size-step) * 6);
  }
  .pr-lg {
    padding-right: calc(var(--size-step) * 6);
  }
  .pb-lg {
    padding-bottom: calc(var(--size-step) * 6);
  }
  .pl-lg {
    padding-left: calc(var(--size-step) * 6);
  }
  .px-lg {
    padding-left: calc(var(--size-step) * 6);
    padding-right: calc(var(--size-step) * 6);
  }
  .py-lg {
    padding-top: calc(var(--size-step) * 6);
    padding-bottom: calc(var(--size-step) * 6);
  }
  .m-xl {
    margin: calc(var(--size-step) * 8);
  }
  .mt-xl {
    margin-top: calc(var(--size-step) * 8);
  }
  .mr-xl {
    margin-right: calc(var(--size-step) * 8);
  }
  .mb-xl {
    margin-bottom: calc(var(--size-step) * 8);
  }
  .ml-xl {
    margin-left: calc(var(--size-step) * 8);
  }
  .mx-xl {
    margin-left: calc(var(--size-step) * 8);
    margin-right: calc(var(--size-step) * 8);
  }
  .my-xl {
    margin-top: calc(var(--size-step) * 8);
    margin-bottom: calc(var(--size-step) * 8);
  }
  .p-xl {
    padding: calc(var(--size-step) * 8);
  }
  .pt-xl {
    padding-top: calc(var(--size-step) * 8);
  }
  .pr-xl {
    padding-right: calc(var(--size-step) * 8);
  }
  .pb-xl {
    padding-bottom: calc(var(--size-step) * 8);
  }
  .pl-xl {
    padding-left: calc(var(--size-step) * 8);
  }
  .px-xl {
    padding-left: calc(var(--size-step) * 8);
    padding-right: calc(var(--size-step) * 8);
  }
  .py-xl {
    padding-top: calc(var(--size-step) * 8);
    padding-bottom: calc(var(--size-step) * 8);
  }
  .m-2xl {
    margin: calc(var(--size-step) * 12);
  }
  .mt-2xl {
    margin-top: calc(var(--size-step) * 12);
  }
  .mr-2xl {
    margin-right: calc(var(--size-step) * 12);
  }
  .mb-2xl {
    margin-bottom: calc(var(--size-step) * 12);
  }
  .ml-2xl {
    margin-left: calc(var(--size-step) * 12);
  }
  .mx-2xl {
    margin-left: calc(var(--size-step) * 12);
    margin-right: calc(var(--size-step) * 12);
  }
  .my-2xl {
    margin-top: calc(var(--size-step) * 12);
    margin-bottom: calc(var(--size-step) * 12);
  }
  .p-2xl {
    padding: calc(var(--size-step) * 12);
  }
  .pt-2xl {
    padding-top: calc(var(--size-step) * 12);
  }
  .pr-2xl {
    padding-right: calc(var(--size-step) * 12);
  }
  .pb-2xl {
    padding-bottom: calc(var(--size-step) * 12);
  }
  .pl-2xl {
    padding-left: calc(var(--size-step) * 12);
  }
  .px-2xl {
    padding-left: calc(var(--size-step) * 12);
    padding-right: calc(var(--size-step) * 12);
  }
  .py-2xl {
    padding-top: calc(var(--size-step) * 12);
    padding-bottom: calc(var(--size-step) * 12);
  }
  .m-3xl {
    margin: calc(var(--size-step) * 16);
  }
  .mt-3xl {
    margin-top: calc(var(--size-step) * 16);
  }
  .mr-3xl {
    margin-right: calc(var(--size-step) * 16);
  }
  .mb-3xl {
    margin-bottom: calc(var(--size-step) * 16);
  }
  .ml-3xl {
    margin-left: calc(var(--size-step) * 16);
  }
  .mx-3xl {
    margin-left: calc(var(--size-step) * 16);
    margin-right: calc(var(--size-step) * 16);
  }
  .my-3xl {
    margin-top: calc(var(--size-step) * 16);
    margin-bottom: calc(var(--size-step) * 16);
  }
  .p-3xl {
    padding: calc(var(--size-step) * 16);
  }
  .pt-3xl {
    padding-top: calc(var(--size-step) * 16);
  }
  .pr-3xl {
    padding-right: calc(var(--size-step) * 16);
  }
  .pb-3xl {
    padding-bottom: calc(var(--size-step) * 16);
  }
  .pl-3xl {
    padding-left: calc(var(--size-step) * 16);
  }
  .px-3xl {
    padding-left: calc(var(--size-step) * 16);
    padding-right: calc(var(--size-step) * 16);
  }
  .py-3xl {
    padding-top: calc(var(--size-step) * 16);
    padding-bottom: calc(var(--size-step) * 16);
  }
  .m-4xl {
    margin: calc(var(--size-step) * 24);
  }
  .mt-4xl {
    margin-top: calc(var(--size-step) * 24);
  }
  .mr-4xl {
    margin-right: calc(var(--size-step) * 24);
  }
  .mb-4xl {
    margin-bottom: calc(var(--size-step) * 24);
  }
  .ml-4xl {
    margin-left: calc(var(--size-step) * 24);
  }
  .mx-4xl {
    margin-left: calc(var(--size-step) * 24);
    margin-right: calc(var(--size-step) * 24);
  }
  .my-4xl {
    margin-top: calc(var(--size-step) * 24);
    margin-bottom: calc(var(--size-step) * 24);
  }
  .p-4xl {
    padding: calc(var(--size-step) * 24);
  }
  .pt-4xl {
    padding-top: calc(var(--size-step) * 24);
  }
  .pr-4xl {
    padding-right: calc(var(--size-step) * 24);
  }
  .pb-4xl {
    padding-bottom: calc(var(--size-step) * 24);
  }
  .pl-4xl {
    padding-left: calc(var(--size-step) * 24);
  }
  .px-4xl {
    padding-left: calc(var(--size-step) * 24);
    padding-right: calc(var(--size-step) * 24);
  }
  .py-4xl {
    padding-top: calc(var(--size-step) * 24);
    padding-bottom: calc(var(--size-step) * 24);
  }
  .m-none, .mt-none, .mr-none, .mb-none, .ml-none, .mx-none, .my-none {
    margin: 0 !important;
  }
  .p-none, .pt-none, .pr-none, .pb-none, .pl-none, .px-none, .py-none {
    padding: 0 !important;
  }
  .m-full, .mt-full, .mr-full, .mb-full, .ml-full, .mx-full, .my-full {
    margin: 100% !important;
  }
  .p-full, .pt-full, .pr-full, .pb-full, .pl-full, .px-full, .py-full {
    padding: 100% !important;
  }
  .font-2xs {
    font-size: calc(var(--size-step) * 1);
  }
  .font-xs {
    font-size: calc(var(--size-step) * 2);
  }
  .font-sm {
    font-size: calc(var(--size-step) * 3);
  }
  .font-md {
    font-size: calc(var(--size-step) * 4);
  }
  .font-lg {
    font-size: calc(var(--size-step) * 6);
  }
  .font-xl {
    font-size: calc(var(--size-step) * 8);
  }
  .font-2xl {
    font-size: calc(var(--size-step) * 12);
  }
  .font-3xl {
    font-size: calc(var(--size-step) * 16);
  }
  .font-4xl {
    font-size: calc(var(--size-step) * 24);
  }
  .font-none {
    font-size: 0 !important;
  }
  .font-full {
    font-size: 100vw !important;
  }
  .radius-2xs {
    border-radius: calc(var(--size-step) * 1);
  }
  .radius-xs {
    border-radius: calc(var(--size-step) * 2);
  }
  .radius-sm {
    border-radius: calc(var(--size-step) * 3);
  }
  .radius-md {
    border-radius: calc(var(--size-step) * 4);
  }
  .radius-lg {
    border-radius: calc(var(--size-step) * 6);
  }
  .radius-xl {
    border-radius: calc(var(--size-step) * 8);
  }
  .radius-2xl {
    border-radius: calc(var(--size-step) * 12);
  }
  .radius-3xl {
    border-radius: calc(var(--size-step) * 16);
  }
  .radius-4xl {
    border-radius: calc(var(--size-step) * 24);
  }
  .radius-none {
    border-radius: 0 !important;
  }
  .radius-full {
    border-radius: 9999px !important;
  }
  .w-2xs {
    width: calc(var(--size-step) * 1);
  }
  .h-2xs {
    height: calc(var(--size-step) * 1);
  }
  .min-w-2xs {
    min-width: calc(var(--size-step) * 1);
  }
  .min-h-2xs {
    min-height: calc(var(--size-step) * 1);
  }
  .max-w-2xs {
    max-width: calc(var(--size-step) * 1);
  }
  .max-h-2xs {
    max-height: calc(var(--size-step) * 1);
  }
  .w-xs {
    width: calc(var(--size-step) * 2);
  }
  .h-xs {
    height: calc(var(--size-step) * 2);
  }
  .min-w-xs {
    min-width: calc(var(--size-step) * 2);
  }
  .min-h-xs {
    min-height: calc(var(--size-step) * 2);
  }
  .max-w-xs {
    max-width: calc(var(--size-step) * 2);
  }
  .max-h-xs {
    max-height: calc(var(--size-step) * 2);
  }
  .w-sm {
    width: calc(var(--size-step) * 3);
  }
  .h-sm {
    height: calc(var(--size-step) * 3);
  }
  .min-w-sm {
    min-width: calc(var(--size-step) * 3);
  }
  .min-h-sm {
    min-height: calc(var(--size-step) * 3);
  }
  .max-w-sm {
    max-width: calc(var(--size-step) * 3);
  }
  .max-h-sm {
    max-height: calc(var(--size-step) * 3);
  }
  .w-md {
    width: calc(var(--size-step) * 4);
  }
  .h-md {
    height: calc(var(--size-step) * 4);
  }
  .min-w-md {
    min-width: calc(var(--size-step) * 4);
  }
  .min-h-md {
    min-height: calc(var(--size-step) * 4);
  }
  .max-w-md {
    max-width: calc(var(--size-step) * 4);
  }
  .max-h-md {
    max-height: calc(var(--size-step) * 4);
  }
  .w-lg {
    width: calc(var(--size-step) * 6);
  }
  .h-lg {
    height: calc(var(--size-step) * 6);
  }
  .min-w-lg {
    min-width: calc(var(--size-step) * 6);
  }
  .min-h-lg {
    min-height: calc(var(--size-step) * 6);
  }
  .max-w-lg {
    max-width: calc(var(--size-step) * 6);
  }
  .max-h-lg {
    max-height: calc(var(--size-step) * 6);
  }
  .w-xl {
    width: calc(var(--size-step) * 8);
  }
  .h-xl {
    height: calc(var(--size-step) * 8);
  }
  .min-w-xl {
    min-width: calc(var(--size-step) * 8);
  }
  .min-h-xl {
    min-height: calc(var(--size-step) * 8);
  }
  .max-w-xl {
    max-width: calc(var(--size-step) * 8);
  }
  .max-h-xl {
    max-height: calc(var(--size-step) * 8);
  }
  .w-2xl {
    width: calc(var(--size-step) * 12);
  }
  .h-2xl {
    height: calc(var(--size-step) * 12);
  }
  .min-w-2xl {
    min-width: calc(var(--size-step) * 12);
  }
  .min-h-2xl {
    min-height: calc(var(--size-step) * 12);
  }
  .max-w-2xl {
    max-width: calc(var(--size-step) * 12);
  }
  .max-h-2xl {
    max-height: calc(var(--size-step) * 12);
  }
  .w-3xl {
    width: calc(var(--size-step) * 16);
  }
  .h-3xl {
    height: calc(var(--size-step) * 16);
  }
  .min-w-3xl {
    min-width: calc(var(--size-step) * 16);
  }
  .min-h-3xl {
    min-height: calc(var(--size-step) * 16);
  }
  .max-w-3xl {
    max-width: calc(var(--size-step) * 16);
  }
  .max-h-3xl {
    max-height: calc(var(--size-step) * 16);
  }
  .w-4xl {
    width: calc(var(--size-step) * 24);
  }
  .h-4xl {
    height: calc(var(--size-step) * 24);
  }
  .min-w-4xl {
    min-width: calc(var(--size-step) * 24);
  }
  .min-h-4xl {
    min-height: calc(var(--size-step) * 24);
  }
  .max-w-4xl {
    max-width: calc(var(--size-step) * 24);
  }
  .max-h-4xl {
    max-height: calc(var(--size-step) * 24);
  }
  .w-none {
    width: 0 !important;
  }
  .h-none {
    height: 0 !important;
  }
  .w-full {
    width: 100% !important;
  }
  .h-full {
    height: 100% !important;
  }
  .min-w-none {
    min-width: 0 !important;
  }
  .min-h-none {
    min-height: 0 !important;
  }
  .max-w-full {
    max-width: 100% !important;
  }
  .max-h-full {
    max-height: 100% !important;
  }
  .gap-2xs {
    gap: calc(var(--size-step) * 1);
  }
  .row-gap-2xs {
    row-gap: calc(var(--size-step) * 1);
  }
  .col-gap-2xs {
    column-gap: calc(var(--size-step) * 1);
  }
  .gap-xs {
    gap: calc(var(--size-step) * 2);
  }
  .row-gap-xs {
    row-gap: calc(var(--size-step) * 2);
  }
  .col-gap-xs {
    column-gap: calc(var(--size-step) * 2);
  }
  .gap-sm {
    gap: calc(var(--size-step) * 3);
  }
  .row-gap-sm {
    row-gap: calc(var(--size-step) * 3);
  }
  .col-gap-sm {
    column-gap: calc(var(--size-step) * 3);
  }
  .gap-md {
    gap: calc(var(--size-step) * 4);
  }
  .row-gap-md {
    row-gap: calc(var(--size-step) * 4);
  }
  .col-gap-md {
    column-gap: calc(var(--size-step) * 4);
  }
  .gap-lg {
    gap: calc(var(--size-step) * 6);
  }
  .row-gap-lg {
    row-gap: calc(var(--size-step) * 6);
  }
  .col-gap-lg {
    column-gap: calc(var(--size-step) * 6);
  }
  .gap-xl {
    gap: calc(var(--size-step) * 8);
  }
  .row-gap-xl {
    row-gap: calc(var(--size-step) * 8);
  }
  .col-gap-xl {
    column-gap: calc(var(--size-step) * 8);
  }
  .gap-2xl {
    gap: calc(var(--size-step) * 12);
  }
  .row-gap-2xl {
    row-gap: calc(var(--size-step) * 12);
  }
  .col-gap-2xl {
    column-gap: calc(var(--size-step) * 12);
  }
  .gap-3xl {
    gap: calc(var(--size-step) * 16);
  }
  .row-gap-3xl {
    row-gap: calc(var(--size-step) * 16);
  }
  .col-gap-3xl {
    column-gap: calc(var(--size-step) * 16);
  }
  .gap-4xl {
    gap: calc(var(--size-step) * 24);
  }
  .row-gap-4xl {
    row-gap: calc(var(--size-step) * 24);
  }
  .col-gap-4xl {
    column-gap: calc(var(--size-step) * 24);
  }
  .gap-none, .row-gap-none, .col-gap-none {
    gap: 0 !important;
    row-gap: 0 !important;
    column-gap: 0 !important;
  }
  .gap-full, .row-gap-full, .col-gap-full {
    gap: 100% !important;
    row-gap: 100% !important;
    column-gap: 100% !important;
  }
  .line-2xs {
    line-height: calc(var(--size-step) * 1);
  }
  .line-xs {
    line-height: calc(var(--size-step) * 2);
  }
  .line-sm {
    line-height: calc(var(--size-step) * 3);
  }
  .line-md {
    line-height: calc(var(--size-step) * 4);
  }
  .line-lg {
    line-height: calc(var(--size-step) * 6);
  }
  .line-xl {
    line-height: calc(var(--size-step) * 8);
  }
  .line-2xl {
    line-height: calc(var(--size-step) * 12);
  }
  .line-3xl {
    line-height: calc(var(--size-step) * 16);
  }
  .line-4xl {
    line-height: calc(var(--size-step) * 24);
  }
  .line-none {
    line-height: 1 !important;
  }
  .line-full {
    line-height: 2 !important;
  }
  .spacing-2xs {
    letter-spacing: calc(var(--size-step) * 1);
  }
  .spacing-xs {
    letter-spacing: calc(var(--size-step) * 2);
  }
  .spacing-sm {
    letter-spacing: calc(var(--size-step) * 3);
  }
  .spacing-md {
    letter-spacing: calc(var(--size-step) * 4);
  }
  .spacing-lg {
    letter-spacing: calc(var(--size-step) * 6);
  }
  .spacing-xl {
    letter-spacing: calc(var(--size-step) * 8);
  }
  .spacing-2xl {
    letter-spacing: calc(var(--size-step) * 12);
  }
  .spacing-3xl {
    letter-spacing: calc(var(--size-step) * 16);
  }
  .spacing-4xl {
    letter-spacing: calc(var(--size-step) * 24);
  }
  .spacing-none {
    letter-spacing: 0 !important;
  }
  .spacing-full {
    letter-spacing: 1em !important;
  }
}
:root {
  --dim-0: 0;
  --dim-1: 0.25rem;
  --dim-2: 0.5rem;
  --dim-3: 0.75rem;
  --dim-4: 1rem;
  --dim-6: 1.5rem;
  --dim-8: 2rem;
  --size-base: 1rem;
  --size-step: 0.125rem;
  --size-3xs: calc(var(--size-base) - var(--size-step) * 4);
  --size-2xs: calc(var(--size-base) - var(--size-step) * 3);
  --size-xs: calc(var(--size-base) - var(--size-step) * 2);
  --size-sm: calc(var(--size-base) - var(--size-step) * 1);
  --size-lg: calc(var(--size-base) + var(--size-step) * 1);
  --size-xl: calc(var(--size-base) + var(--size-step) * 2);
  --size-2xl: calc(var(--size-base) + var(--size-step) * 3);
  --size-3xl: calc(var(--size-base) + var(--size-step) * 4);
  --size-4xl: calc(var(--size-base) + var(--size-step) * 5);
  --radius-sm: 0.25rem;
  --radius: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.625rem;
}

.gap-0 {
  gap: var(--dim-0);
}

.gap-1 {
  gap: var(--dim-1);
}

.gap-2 {
  gap: var(--dim-2);
}

.gap-3 {
  gap: var(--dim-3);
}

.gap-4 {
  gap: var(--dim-4);
}

.gap-6 {
  gap: calc(var(--dim-2) * 3);
}

.gap-8 {
  gap: calc(var(--dim-2) * 4);
}

@layer reset, theme, base, components, utilities;
.block {
  display: block;
}
