@layer base {
  :root {
    --accent-delta: -0.2;
    --muted-delta: -0.1;
    --muted-alpha: 0.3;
  }

  :root,
  .primary {
    --background-color: var(--primary);
    --foreground-color: var(--primary-content);
  }
  .secondary {
    --background-color: var(--secondary);
    --foreground-color: var(--secondary-content);
  }
  .success {
    --background-color: var(--success);
    --foreground-color: var(--success-content);
  }
  .danger {
    --background-color: var(--danger);
    --foreground-color: var(--danger-content);
  }
  .warning {
    --background-color: var(--warning);
    --foreground-color: var(--warning-content);
  }
  .info {
    --background-color: var(--info);
    --foreground-color: var(--info-content);
  }
  .surface {
    --background-color: var(--surface);
    --foreground-color: var(--surface-content);
  }
  .disabled {
    --background-color: var(--disabled);
    --foreground-color: var(--disabled-content);
  }
  .canvas {
    --background-color: var(--canvas);
    --foreground-color: var(--canvas-content);
  }

  :root,
  .primary,
  .secondary,
  .success,
  .danger,
  .warning,
  .info {
    --background-color-accent: oklch(
      from var(--background-color) calc(l + var(--accent-delta)) c h
    );
  }


}
