:root {
  --border-radius: 0.3rem;
  --border-radius-sm: 4px;
  --button-height: 2.4rem;
}

button,
input::file-selector-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  --background-color: var(--base-content);
  --background-color-hover: var(--base-content-hover);
  --color: var(--base);
  --font-weight: 500;
  --padding-x: 1rem;
  --font-size: 1rem;
  --height: var(--button-height);

  padding: 0 var(--padding-x);
  height: var(--height);
  min-height: var(--height);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  font-family: inherit;
  font-weight: var(--font-weight);
  box-shadow: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color: var(--background-color);
  color: var(--color);
  white-space: nowrap;

  &:hover {
    background-color: var(--background-color-hover);
  }

  &.primary {
    --background-color: var(--primary);
    --background-color-hover: var(--primary-hover);
    --color: var(--primary-content);
  }

  &.secondary {
    --background-color: var(--secondary);
    --background-color-hover: var(--secondary-hover);
    --color: var(--secondary-content);
  }

  &.base {
    --background-color: var(--base);
    --background-color-hover: var(--base-hover);
    --color: var(--base-content);
  }

  &.success {
    --background-color: var(--success);
    --background-color-hover: var(--success-hover);
    --color: var(--success-content);
  }

  &.error {
    --background-color: var(--error);
    --background-color-hover: var(--error-hover);
    --color: var(--error-content);
  }

  &.XS {
    --height: calc(var(--button-height) - 0.8rem);
    --padding-x: 0.6rem;
    --font-size: 0.8rem;
  }

  &.S {
    --height: calc(var(--button-height) - 0.4rem);
    --padding-x: 1rem;
    --font-size: 0.9rem;
  }

  &.L {
    --height: calc(var(--button-height) + 0.4rem);
    --padding-x: 1.2rem;
    --font-size: 1.1rem;
  }

  &.XL {
    --height: calc(var(--button-height) + 0.8rem);
    --padding-x: 1.4rem;
    --font-size: 1.2rem;
  }

  &.outline {
    background-color: transparent;
    color: var(--background-color);
    outline: 1px solid var(--background-color);

    &:hover {
      outline-width: 1.5px;
      outline-color: var(--background-color-hover);
      color: var(--background-color-hover);
    }
  }

  &:disabled,
  &.outline:disabled {
    background-color: var(--disabled);
    color: var(--disabled-content);
    cursor: not-allowed;
    outline: none;
  }

  &:is([type="reset"]) {
    --background-color: var(--surface);
    --background-color-hover: var(--surface-hover);
    --color: var(--surface-content);
  }
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--background-color-hover);
}
