pre,
code {
  font-family: var(--font-family-mono);
  font-feature-settings: normal;
  font-variation-settings: normal;
  padding: 0;
  margin: 0;
}

pre > code {
  display: block;
  overflow: auto;
  padding: 1em;
  /* background-color: var(--surface); */
  /* color: var(--surface-content); */
  min-height: 100%;
}

pre {
  line-height: 1.25;
  font-size: 0.875rem;
}

code:not(pre > code) {
  display: inline-block;
  background-color: var(--surface);
  color: var(--surface-content);
  padding: 0.05rem 0.3rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  user-select: all;
}
