:root {
  --primary: hsl(224, 48%, 22%);
  --primary-content: rgb(255, 255, 255);
  --primary-content-muted: hsla(0, 0%, 100%, 0.7);
  --primary-hover: hsl(224, 48%, 32%);
  --secondary: hsl(329, 55%, 32%);
  --secondary-hover: hsl(329, 55%, 42%);
  --secondary-content: hsl(0, 0%, 100%);
  --success: hsl(152, 64%, 41%);
  --success-hover: hsl(152, 64%, 31%);
  --success-content: hsl(0, 0%, 100%);
  --error: hsl(342, 100%, 50%);
  --error-hover: hsl(342, 100%, 40%);
  --error-content: hsl(0, 0%, 100%);
  --base: hsl(0, 0%, 98%);
  --base-hover: hsl(0, 0%, 88%);
  --base-content: hsl(240, 4%, 16%);
  --base-content-muted: hsl(240, 4%, 26%);
  --surface: hsl(0, 0%, 85%);
  --surface-content: hsl(240, 4%, 16%);
  --disabled: hsl(0, 0%, 90%);
  --disabled-content: hsl(0, 0%, 40%);
  --foreground: var(--grey-800);
}
