row, .row {
  display: flex;
  flex-direction: row;
}

column, .column {
  display: flex;
  flex-direction: column;
}

row, .row, column, .column {
  &.content-start {
    justify-content: flex-start;
  }

  &.content-end {
    justify-content: flex-end;
  }

  &.content-center {
    justify-content: center;
  }

  &.content-between {
    justify-content: space-between;
  }

  &.content-around {
    justify-content: space-around;
  }

  &.content-evenly {
    justify-content: space-evenly;
  }

  &.content-stretch {
    justify-content: stretch;
  }

  &.items-start {
    align-content: flex-start;
  }

  &.items-end {
    align-content: flex-end;
  }

  &.items-center {
    align-content: center;
  }

  &.items-baseline {
    align-content: baseline;
  }

  &.items-stretch {
    align-content: stretch;
  }

  &.items-space-between {
    align-content: space-between;
  }

  &.items-space-around {
    align-content: space-around;
  }

  &.items-space-evenly {
    align-content: space-evenly;
  }

  &.items-grow > * {
    flex-grow: 1;
  }
}

.grow {
  flex-grow: 1;
}
