row, .row {
  display: flex;
  flex-direction: row;
}

column, .column {
  display: flex;
  flex-direction: column;
}

row-reverse, .row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

column-reverse, .column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

row, .row, column, .column {
  &.content-start {
    justify-content: flex-start;
  }

  &.content-end {
    justify-content: flex-end;
  }

  &.content-center {
    justify-content: center;
  }

  &.content-between {
    justify-content: space-between;
  }

  &.content-around {
    justify-content: space-around;
  }

  &.content-evenly {
    justify-content: space-evenly;
  }

  &.content-stretch {
    justify-content: stretch;
  }

  &.items-start {
    align-items: flex-start;
  }

  &.items-end {
    align-items: flex-end;
  }

  &.items-center {
    align-items: center;
  }

  &.items-baseline {
    align-items: baseline;
  }

  &.items-stretch {
    align-items: stretch;
  }

  &.items-grow > * {
    flex: 1 0 auto;
  }

  &.items-shrink > * {
    flex: 0 1 auto;
  }

  &.items-auto > * {
    flex: 1 1 auto;
  }
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}
wrap-reverse {
  flex-wrap: wrap-reverse;
}
