fieldset,
form {
  /*display: flex;*/
  /*flex-direction: column;*/
  background: transparent;
  font-size: 1rem;
  gap: var(--dim-4);
}

fieldset:has([type="radio"], [type="checkbox"]) {
  gap: 0;
}

fieldset {
  border: solid 1px var(--surface);
  padding: 1rem;
  margin: 0;
  border-radius: var(--border-radius);

  & legend {
    font-size: inherit;
    padding: 0 0.5rem;
    margin: -0.5rem;
    /* margin: 0 0 1rem 0rem; */
    /* font-size: 1.2rem; */
    font-weight: 600;
  }
}

form label,
fieldset label {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 var(--dim-1) 0;

  &[aria-errormessage] {
    color: var(--error-content);
    margin: 5px 0;
    padding: var(--dim-1) var(--dim-4) 0 var(--dim-4);
    background-color: var(--error);
    outline: solid 2px var(--error);
    border-radius: var(--border-radius);

    &:last-of-type {
      margin-bottom: var(--dim-4);
      padding-bottom: var(--dim-1);
    }
  }
}

label:has(+ input) {
  display: block;

  &:has(+ input[required])::after {
    content: " *";
  }

  /*&:has(+ input[aria-invalid="true"], + input:user-invalid) {*/
  /*  color: var(--error);*/
  /*}*/
}

label:has(> :is(input[type="checkbox"], input[type="radio"], [type="color"])) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}
