ul,
ol {
  margin: 0;
  padding: 0;
  margin-left: 1.3rem;
  line-height: 1.6;
}

li {
  --color-marker: var(--primary);

  margin: 0;
  padding: 0;

  &::marker {
    color: var(--color-marker);
  }
}

ol > li {
  list-style: decimal;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  --font-size: 1.1rem;
  --font-weight: 700;
  --color: var(--primary);
  --first-letter-font-size: calc(var(--font-size) * 1.5);

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin: 0;
  font-style: italic;
  color: var(--base-content-muted);
}

dd {
  font-size: 1rem;
  margin: 0 0 0.5rem 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}
