:root {
  --size-step: 1rem;
}

.w-auto {
  width: auto;
}

.min-w-auto {
  min-width: auto;
}

.max-w-auto {
  max-width: auto;
}

.w-px {
  width: 1px;
}

.min-w-px {
  min-width: 1px;
}

.max-w-px {
  max-width: 1px;
}

.w-0 {
  width: 0;
}

.min-w-0 {
  min-width: 0;
}

.max-w-0 {
  max-width: 0;
}

.w-0_5 {
  width: calc(var(--size-step) * 0.125);
}

.min-w-0_5 {
  min-width: calc(var(--size-step) * 0.125);
}

.max-w-0_5 {
  max-width: calc(var(--size-step) * 0.125);
}

.w-1 {
  width: calc(var(--size-step) * 0.25);
}

.min-w-1 {
  min-width: calc(var(--size-step) * 0.25);
}

.max-w-1 {
  max-width: calc(var(--size-step) * 0.25);
}

.w-2 {
  width: calc(var(--size-step) * 0.5);
}

.min-w-2 {
  min-width: calc(var(--size-step) * 0.5);
}

.max-w-2 {
  max-width: calc(var(--size-step) * 0.5);
}

.w-3 {
  width: calc(var(--size-step) * 0.75);
}

.min-w-3 {
  min-width: calc(var(--size-step) * 0.75);
}

.max-w-3 {
  max-width: calc(var(--size-step) * 0.75);
}

.w-4 {
  width: var(--size-step);
}

.min-w-4 {
  min-width: var(--size-step);
}

.max-w-4 {
  max-width: var(--size-step);
}

.w-5 {
  width: calc(var(--size-step) * 1.25);
}

.min-w-5 {
  min-width: calc(var(--size-step) * 1.25);
}

.max-w-5 {
  max-width: calc(var(--size-step) * 1.25);
}

.w-6 {
  width: calc(var(--size-step) * 1.5);
}

.min-w-6 {
  min-width: calc(var(--size-step) * 1.5);
}

.max-w-6 {
  max-width: calc(var(--size-step) * 1.5);
}

.w-8 {
  width: calc(var(--size-step) * 2);
}

.min-w-8 {
  min-width: calc(var(--size-step) * 2);
}

.max-w-8 {
  max-width: calc(var(--size-step) * 2);
}

.w-10 {
  width: calc(var(--size-step) * 2.5);
}

.min-w-10 {
  min-width: calc(var(--size-step) * 2.5);
}

.max-w-10 {
  max-width: calc(var(--size-step) * 2.5);
}

.w-12 {
  width: calc(var(--size-step) * 3);
}

.min-w-12 {
  min-width: calc(var(--size-step) * 3);
}

.max-w-12 {
  max-width: calc(var(--size-step) * 3);
}

.w-16 {
  width: calc(var(--size-step) * 4);
}

.min-w-16 {
  min-width: calc(var(--size-step) * 4);
}

.max-w-16 {
  max-width: calc(var(--size-step) * 4);
}

.w-20 {
  width: calc(var(--size-step) * 5);
}

.min-w-20 {
  min-width: calc(var(--size-step) * 5);
}

.max-w-20 {
  max-width: calc(var(--size-step) * 5);
}

.w-24 {
  width: calc(var(--size-step) * 6);
}

.min-w-24 {
  min-width: calc(var(--size-step) * 6);
}

.max-w-24 {
  max-width: calc(var(--size-step) * 6);
}

.w-32 {
  width: calc(var(--size-step) * 8);
}

.min-w-32 {
  min-width: calc(var(--size-step) * 8);
}

.max-w-32 {
  max-width: calc(var(--size-step) * 8);
}

.w-40 {
  width: calc(var(--size-step) * 10);
}

.min-w-40 {
  min-width: calc(var(--size-step) * 10);
}

.max-w-40 {
  max-width: calc(var(--size-step) * 10);
}

.w-48 {
  width: calc(var(--size-step) * 12);
}

.min-w-48 {
  min-width: calc(var(--size-step) * 12);
}

.max-w-48 {
  max-width: calc(var(--size-step) * 12);
}

.w-56 {
  width: calc(var(--size-step) * 14);
}

.min-w-56 {
  min-width: calc(var(--size-step) * 14);
}

.max-w-56 {
  max-width: calc(var(--size-step) * 14);
}

.w-64 {
  width: calc(var(--size-step) * 16);
}

.min-w-64 {
  min-width: calc(var(--size-step) * 16);
}

.max-w-64 {
  max-width: calc(var(--size-step) * 16);
}

.w-full {
  width: 100%;
}

.min-w-full {
  min-width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-screen {
  min-width: 100vw;
}

.max-w-screen {
  max-width: 100vw;
}

.h-auto {
  height: auto;
}

.min-h-auto {
  min-height: auto;
}

.max-h-auto {
  max-height: auto;
}

.h-px {
  height: 1px;
}

.min-h-px {
  min-height: 1px;
}

.max-h-px {
  max-height: 1px;
}

.h-0 {
  height: 0;
}

.min-h-0 {
  min-height: 0;
}

.max-h-0 {
  max-height: 0;
}

.h-0_5 {
  height: calc(var(--size-step) * 0.125);
}

.min-h-0_5 {
  min-height: calc(var(--size-step) * 0.125);
}

.max-h-0_5 {
  max-height: calc(var(--size-step) * 0.125);
}

.h-1 {
  height: calc(var(--size-step) * 0.25);
}

.min-h-1 {
  min-height: calc(var(--size-step) * 0.25);
}

.max-h-1 {
  max-height: calc(var(--size-step) * 0.25);
}

.h-2 {
  height: calc(var(--size-step) * 0.5);
}

.min-h-2 {
  min-height: calc(var(--size-step) * 0.5);
}

.max-h-2 {
  max-height: calc(var(--size-step) * 0.5);
}

.h-3 {
  height: calc(var(--size-step) * 0.75);
}

.min-h-3 {
  min-height: calc(var(--size-step) * 0.75);
}

.max-h-3 {
  max-height: calc(var(--size-step) * 0.75);
}

.h-4 {
  height: var(--size-step);
}

.min-h-4 {
  min-height: var(--size-step);
}

.max-h-4 {
  max-height: var(--size-step);
}

.h-5 {
  height: calc(var(--size-step) * 1.25);
}

.min-h-5 {
  min-height: calc(var(--size-step) * 1.25);
}

.max-h-5 {
  max-height: calc(var(--size-step) * 1.25);
}

.h-6 {
  height: calc(var(--size-step) * 1.5);
}

.min-h-6 {
  min-height: calc(var(--size-step) * 1.5);
}

.max-h-6 {
  max-height: calc(var(--size-step) * 1.5);
}

.h-8 {
  height: calc(var(--size-step) * 2);
}

.min-h-8 {
  min-height: calc(var(--size-step) * 2);
}

.max-h-8 {
  max-height: calc(var(--size-step) * 2);
}

.h-10 {
  height: calc(var(--size-step) * 2.5);
}

.min-h-10 {
  min-height: calc(var(--size-step) * 2.5);
}

.max-h-10 {
  max-height: calc(var(--size-step) * 2.5);
}

.h-12 {
  height: calc(var(--size-step) * 3);
}

.min-h-12 {
  min-height: calc(var(--size-step) * 3);
}

.max-h-12 {
  max-height: calc(var(--size-step) * 3);
}

.h-16 {
  height: calc(var(--size-step) * 4);
}

.min-h-16 {
  min-height: calc(var(--size-step) * 4);
}

.max-h-16 {
  max-height: calc(var(--size-step) * 4);
}

.h-20 {
  height: calc(var(--size-step) * 5);
}

.min-h-20 {
  min-height: calc(var(--size-step) * 5);
}

.max-h-20 {
  max-height: calc(var(--size-step) * 5);
}

.h-24 {
  height: calc(var(--size-step) * 6);
}

.min-h-24 {
  min-height: calc(var(--size-step) * 6);
}

.max-h-24 {
  max-height: calc(var(--size-step) * 6);
}

.h-32 {
  height: calc(var(--size-step) * 8);
}

.min-h-32 {
  min-height: calc(var(--size-step) * 8);
}

.max-h-32 {
  max-height: calc(var(--size-step) * 8);
}

.h-40 {
  height: calc(var(--size-step) * 10);
}

.min-h-40 {
  min-height: calc(var(--size-step) * 10);
}

.max-h-40 {
  max-height: calc(var(--size-step) * 10);
}

.h-48 {
  height: calc(var(--size-step) * 12);
}

.min-h-48 {
  min-height: calc(var(--size-step) * 12);
}

.max-h-48 {
  max-height: calc(var(--size-step) * 12);
}

.h-56 {
  height: calc(var(--size-step) * 14);
}

.min-h-56 {
  min-height: calc(var(--size-step) * 14);
}

.max-h-56 {
  max-height: calc(var(--size-step) * 14);
}

.h-64 {
  height: calc(var(--size-step) * 16);
}

.min-h-64 {
  min-height: calc(var(--size-step) * 16);
}

.max-h-64 {
  max-height: calc(var(--size-step) * 16);
}

.h-full {
  height: 100%;
}

.min-h-full {
  min-height: 100%;
}

.max-h-full {
  max-height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-screen {
  max-height: 100vh;
}
