:root {
  --spacing-step: 0.25rem;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-1 {
  margin: calc(var(--spacing-step) * 1);
}

.mt-1 {
  margin-top: calc(var(--spacing-step) * 1);
}

.mr-1 {
  margin-right: calc(var(--spacing-step) * 1);
}

.mb-1 {
  margin-bottom: calc(var(--spacing-step) * 1);
}

.ml-1 {
  margin-left: calc(var(--spacing-step) * 1);
}

.mx-1 {
  margin-left: calc(var(--spacing-step) * 1);
  margin-right: calc(var(--spacing-step) * 1);
}

.my-1 {
  margin-top: calc(var(--spacing-step) * 1);
  margin-bottom: calc(var(--spacing-step) * 1);
}

.p-1 {
  padding: calc(var(--spacing-step) * 1);
}

.pt-1 {
  padding-top: calc(var(--spacing-step) * 1);
}

.pr-1 {
  padding-right: calc(var(--spacing-step) * 1);
}

.pb-1 {
  padding-bottom: calc(var(--spacing-step) * 1);
}

.pl-1 {
  padding-left: calc(var(--spacing-step) * 1);
}

.px-1 {
  padding-left: calc(var(--spacing-step) * 1);
  padding-right: calc(var(--spacing-step) * 1);
}

.py-1 {
  padding-top: calc(var(--spacing-step) * 1);
  padding-bottom: calc(var(--spacing-step) * 1);
}

.m-2 {
  margin: calc(var(--spacing-step) * 2);
}

.mt-2 {
  margin-top: calc(var(--spacing-step) * 2);
}

.mr-2 {
  margin-right: calc(var(--spacing-step) * 2);
}

.mb-2 {
  margin-bottom: calc(var(--spacing-step) * 2);
}

.ml-2 {
  margin-left: calc(var(--spacing-step) * 2);
}

.mx-2 {
  margin-left: calc(var(--spacing-step) * 2);
  margin-right: calc(var(--spacing-step) * 2);
}

.my-2 {
  margin-top: calc(var(--spacing-step) * 2);
  margin-bottom: calc(var(--spacing-step) * 2);
}

.p-2 {
  padding: calc(var(--spacing-step) * 2);
}

.pt-2 {
  padding-top: calc(var(--spacing-step) * 2);
}

.pr-2 {
  padding-right: calc(var(--spacing-step) * 2);
}

.pb-2 {
  padding-bottom: calc(var(--spacing-step) * 2);
}

.pl-2 {
  padding-left: calc(var(--spacing-step) * 2);
}

.px-2 {
  padding-left: calc(var(--spacing-step) * 2);
  padding-right: calc(var(--spacing-step) * 2);
}

.py-2 {
  padding-top: calc(var(--spacing-step) * 2);
  padding-bottom: calc(var(--spacing-step) * 2);
}

.m-3 {
  margin: calc(var(--spacing-step) * 3);
}

.mt-3 {
  margin-top: calc(var(--spacing-step) * 3);
}

.mr-3 {
  margin-right: calc(var(--spacing-step) * 3);
}

.mb-3 {
  margin-bottom: calc(var(--spacing-step) * 3);
}

.ml-3 {
  margin-left: calc(var(--spacing-step) * 3);
}

.mx-3 {
  margin-left: calc(var(--spacing-step) * 3);
  margin-right: calc(var(--spacing-step) * 3);
}

.my-3 {
  margin-top: calc(var(--spacing-step) * 3);
  margin-bottom: calc(var(--spacing-step) * 3);
}

.p-3 {
  padding: calc(var(--spacing-step) * 3);
}

.pt-3 {
  padding-top: calc(var(--spacing-step) * 3);
}

.pr-3 {
  padding-right: calc(var(--spacing-step) * 3);
}

.pb-3 {
  padding-bottom: calc(var(--spacing-step) * 3);
}

.pl-3 {
  padding-left: calc(var(--spacing-step) * 3);
}

.px-3 {
  padding-left: calc(var(--spacing-step) * 3);
  padding-right: calc(var(--spacing-step) * 3);
}

.py-3 {
  padding-top: calc(var(--spacing-step) * 3);
  padding-bottom: calc(var(--spacing-step) * 3);
}

.m-4 {
  margin: calc(var(--spacing-step) * 4);
}

.mt-4 {
  margin-top: calc(var(--spacing-step) * 4);
}

.mr-4 {
  margin-right: calc(var(--spacing-step) * 4);
}

.mb-4 {
  margin-bottom: calc(var(--spacing-step) * 4);
}

.ml-4 {
  margin-left: calc(var(--spacing-step) * 4);
}

.mx-4 {
  margin-left: calc(var(--spacing-step) * 4);
  margin-right: calc(var(--spacing-step) * 4);
}

.my-4 {
  margin-top: calc(var(--spacing-step) * 4);
  margin-bottom: calc(var(--spacing-step) * 4);
}

.p-4 {
  padding: calc(var(--spacing-step) * 4);
}

.pt-4 {
  padding-top: calc(var(--spacing-step) * 4);
}

.pr-4 {
  padding-right: calc(var(--spacing-step) * 4);
}

.pb-4 {
  padding-bottom: calc(var(--spacing-step) * 4);
}

.pl-4 {
  padding-left: calc(var(--spacing-step) * 4);
}

.px-4 {
  padding-left: calc(var(--spacing-step) * 4);
  padding-right: calc(var(--spacing-step) * 4);
}

.py-4 {
  padding-top: calc(var(--spacing-step) * 4);
  padding-bottom: calc(var(--spacing-step) * 4);
}

.m-5 {
  margin: calc(var(--spacing-step) * 5);
}

.mt-5 {
  margin-top: calc(var(--spacing-step) * 5);
}

.mr-5 {
  margin-right: calc(var(--spacing-step) * 5);
}

.mb-5 {
  margin-bottom: calc(var(--spacing-step) * 5);
}

.ml-5 {
  margin-left: calc(var(--spacing-step) * 5);
}

.mx-5 {
  margin-left: calc(var(--spacing-step) * 5);
  margin-right: calc(var(--spacing-step) * 5);
}

.my-5 {
  margin-top: calc(var(--spacing-step) * 5);
  margin-bottom: calc(var(--spacing-step) * 5);
}

.p-5 {
  padding: calc(var(--spacing-step) * 5);
}

.pt-5 {
  padding-top: calc(var(--spacing-step) * 5);
}

.pr-5 {
  padding-right: calc(var(--spacing-step) * 5);
}

.pb-5 {
  padding-bottom: calc(var(--spacing-step) * 5);
}

.pl-5 {
  padding-left: calc(var(--spacing-step) * 5);
}

.px-5 {
  padding-left: calc(var(--spacing-step) * 5);
  padding-right: calc(var(--spacing-step) * 5);
}

.py-5 {
  padding-top: calc(var(--spacing-step) * 5);
  padding-bottom: calc(var(--spacing-step) * 5);
}

.m-6 {
  margin: calc(var(--spacing-step) * 6);
}

.mt-6 {
  margin-top: calc(var(--spacing-step) * 6);
}

.mr-6 {
  margin-right: calc(var(--spacing-step) * 6);
}

.mb-6 {
  margin-bottom: calc(var(--spacing-step) * 6);
}

.ml-6 {
  margin-left: calc(var(--spacing-step) * 6);
}

.mx-6 {
  margin-left: calc(var(--spacing-step) * 6);
  margin-right: calc(var(--spacing-step) * 6);
}

.my-6 {
  margin-top: calc(var(--spacing-step) * 6);
  margin-bottom: calc(var(--spacing-step) * 6);
}

.p-6 {
  padding: calc(var(--spacing-step) * 6);
}

.pt-6 {
  padding-top: calc(var(--spacing-step) * 6);
}

.pr-6 {
  padding-right: calc(var(--spacing-step) * 6);
}

.pb-6 {
  padding-bottom: calc(var(--spacing-step) * 6);
}

.pl-6 {
  padding-left: calc(var(--spacing-step) * 6);
}

.px-6 {
  padding-left: calc(var(--spacing-step) * 6);
  padding-right: calc(var(--spacing-step) * 6);
}

.py-6 {
  padding-top: calc(var(--spacing-step) * 6);
  padding-bottom: calc(var(--spacing-step) * 6);
}

.m-7 {
  margin: calc(var(--spacing-step) * 7);
}

.mt-7 {
  margin-top: calc(var(--spacing-step) * 7);
}

.mr-7 {
  margin-right: calc(var(--spacing-step) * 7);
}

.mb-7 {
  margin-bottom: calc(var(--spacing-step) * 7);
}

.ml-7 {
  margin-left: calc(var(--spacing-step) * 7);
}

.mx-7 {
  margin-left: calc(var(--spacing-step) * 7);
  margin-right: calc(var(--spacing-step) * 7);
}

.my-7 {
  margin-top: calc(var(--spacing-step) * 7);
  margin-bottom: calc(var(--spacing-step) * 7);
}

.p-7 {
  padding: calc(var(--spacing-step) * 7);
}

.pt-7 {
  padding-top: calc(var(--spacing-step) * 7);
}

.pr-7 {
  padding-right: calc(var(--spacing-step) * 7);
}

.pb-7 {
  padding-bottom: calc(var(--spacing-step) * 7);
}

.pl-7 {
  padding-left: calc(var(--spacing-step) * 7);
}

.px-7 {
  padding-left: calc(var(--spacing-step) * 7);
  padding-right: calc(var(--spacing-step) * 7);
}

.py-7 {
  padding-top: calc(var(--spacing-step) * 7);
  padding-bottom: calc(var(--spacing-step) * 7);
}

.m-8 {
  margin: calc(var(--spacing-step) * 8);
}

.mt-8 {
  margin-top: calc(var(--spacing-step) * 8);
}

.mr-8 {
  margin-right: calc(var(--spacing-step) * 8);
}

.mb-8 {
  margin-bottom: calc(var(--spacing-step) * 8);
}

.ml-8 {
  margin-left: calc(var(--spacing-step) * 8);
}

.mx-8 {
  margin-left: calc(var(--spacing-step) * 8);
  margin-right: calc(var(--spacing-step) * 8);
}

.my-8 {
  margin-top: calc(var(--spacing-step) * 8);
  margin-bottom: calc(var(--spacing-step) * 8);
}

.p-8 {
  padding: calc(var(--spacing-step) * 8);
}

.pt-8 {
  padding-top: calc(var(--spacing-step) * 8);
}

.pr-8 {
  padding-right: calc(var(--spacing-step) * 8);
}

.pb-8 {
  padding-bottom: calc(var(--spacing-step) * 8);
}

.pl-8 {
  padding-left: calc(var(--spacing-step) * 8);
}

.px-8 {
  padding-left: calc(var(--spacing-step) * 8);
  padding-right: calc(var(--spacing-step) * 8);
}

.py-8 {
  padding-top: calc(var(--spacing-step) * 8);
  padding-bottom: calc(var(--spacing-step) * 8);
}

.m-9 {
  margin: calc(var(--spacing-step) * 9);
}

.mt-9 {
  margin-top: calc(var(--spacing-step) * 9);
}

.mr-9 {
  margin-right: calc(var(--spacing-step) * 9);
}

.mb-9 {
  margin-bottom: calc(var(--spacing-step) * 9);
}

.ml-9 {
  margin-left: calc(var(--spacing-step) * 9);
}

.mx-9 {
  margin-left: calc(var(--spacing-step) * 9);
  margin-right: calc(var(--spacing-step) * 9);
}

.my-9 {
  margin-top: calc(var(--spacing-step) * 9);
  margin-bottom: calc(var(--spacing-step) * 9);
}

.p-9 {
  padding: calc(var(--spacing-step) * 9);
}

.pt-9 {
  padding-top: calc(var(--spacing-step) * 9);
}

.pr-9 {
  padding-right: calc(var(--spacing-step) * 9);
}

.pb-9 {
  padding-bottom: calc(var(--spacing-step) * 9);
}

.pl-9 {
  padding-left: calc(var(--spacing-step) * 9);
}

.px-9 {
  padding-left: calc(var(--spacing-step) * 9);
  padding-right: calc(var(--spacing-step) * 9);
}

.py-9 {
  padding-top: calc(var(--spacing-step) * 9);
  padding-bottom: calc(var(--spacing-step) * 9);
}

.m-10 {
  margin: calc(var(--spacing-step) * 10);
}

.mt-10 {
  margin-top: calc(var(--spacing-step) * 10);
}

.mr-10 {
  margin-right: calc(var(--spacing-step) * 10);
}

.mb-10 {
  margin-bottom: calc(var(--spacing-step) * 10);
}

.ml-10 {
  margin-left: calc(var(--spacing-step) * 10);
}

.mx-10 {
  margin-left: calc(var(--spacing-step) * 10);
  margin-right: calc(var(--spacing-step) * 10);
}

.my-10 {
  margin-top: calc(var(--spacing-step) * 10);
  margin-bottom: calc(var(--spacing-step) * 10);
}

.p-10 {
  padding: calc(var(--spacing-step) * 10);
}

.pt-10 {
  padding-top: calc(var(--spacing-step) * 10);
}

.pr-10 {
  padding-right: calc(var(--spacing-step) * 10);
}

.pb-10 {
  padding-bottom: calc(var(--spacing-step) * 10);
}

.pl-10 {
  padding-left: calc(var(--spacing-step) * 10);
}

.px-10 {
  padding-left: calc(var(--spacing-step) * 10);
  padding-right: calc(var(--spacing-step) * 10);
}

.py-10 {
  padding-top: calc(var(--spacing-step) * 10);
  padding-bottom: calc(var(--spacing-step) * 10);
}

.m-11 {
  margin: calc(var(--spacing-step) * 11);
}

.mt-11 {
  margin-top: calc(var(--spacing-step) * 11);
}

.mr-11 {
  margin-right: calc(var(--spacing-step) * 11);
}

.mb-11 {
  margin-bottom: calc(var(--spacing-step) * 11);
}

.ml-11 {
  margin-left: calc(var(--spacing-step) * 11);
}

.mx-11 {
  margin-left: calc(var(--spacing-step) * 11);
  margin-right: calc(var(--spacing-step) * 11);
}

.my-11 {
  margin-top: calc(var(--spacing-step) * 11);
  margin-bottom: calc(var(--spacing-step) * 11);
}

.p-11 {
  padding: calc(var(--spacing-step) * 11);
}

.pt-11 {
  padding-top: calc(var(--spacing-step) * 11);
}

.pr-11 {
  padding-right: calc(var(--spacing-step) * 11);
}

.pb-11 {
  padding-bottom: calc(var(--spacing-step) * 11);
}

.pl-11 {
  padding-left: calc(var(--spacing-step) * 11);
}

.px-11 {
  padding-left: calc(var(--spacing-step) * 11);
  padding-right: calc(var(--spacing-step) * 11);
}

.py-11 {
  padding-top: calc(var(--spacing-step) * 11);
  padding-bottom: calc(var(--spacing-step) * 11);
}

.m-12 {
  margin: calc(var(--spacing-step) * 12);
}

.mt-12 {
  margin-top: calc(var(--spacing-step) * 12);
}

.mr-12 {
  margin-right: calc(var(--spacing-step) * 12);
}

.mb-12 {
  margin-bottom: calc(var(--spacing-step) * 12);
}

.ml-12 {
  margin-left: calc(var(--spacing-step) * 12);
}

.mx-12 {
  margin-left: calc(var(--spacing-step) * 12);
  margin-right: calc(var(--spacing-step) * 12);
}

.my-12 {
  margin-top: calc(var(--spacing-step) * 12);
  margin-bottom: calc(var(--spacing-step) * 12);
}

.p-12 {
  padding: calc(var(--spacing-step) * 12);
}

.pt-12 {
  padding-top: calc(var(--spacing-step) * 12);
}

.pr-12 {
  padding-right: calc(var(--spacing-step) * 12);
}

.pb-12 {
  padding-bottom: calc(var(--spacing-step) * 12);
}

.pl-12 {
  padding-left: calc(var(--spacing-step) * 12);
}

.px-12 {
  padding-left: calc(var(--spacing-step) * 12);
  padding-right: calc(var(--spacing-step) * 12);
}

.py-12 {
  padding-top: calc(var(--spacing-step) * 12);
  padding-bottom: calc(var(--spacing-step) * 12);
}

.m-13 {
  margin: calc(var(--spacing-step) * 13);
}

.mt-13 {
  margin-top: calc(var(--spacing-step) * 13);
}

.mr-13 {
  margin-right: calc(var(--spacing-step) * 13);
}

.mb-13 {
  margin-bottom: calc(var(--spacing-step) * 13);
}

.ml-13 {
  margin-left: calc(var(--spacing-step) * 13);
}

.mx-13 {
  margin-left: calc(var(--spacing-step) * 13);
  margin-right: calc(var(--spacing-step) * 13);
}

.my-13 {
  margin-top: calc(var(--spacing-step) * 13);
  margin-bottom: calc(var(--spacing-step) * 13);
}

.p-13 {
  padding: calc(var(--spacing-step) * 13);
}

.pt-13 {
  padding-top: calc(var(--spacing-step) * 13);
}

.pr-13 {
  padding-right: calc(var(--spacing-step) * 13);
}

.pb-13 {
  padding-bottom: calc(var(--spacing-step) * 13);
}

.pl-13 {
  padding-left: calc(var(--spacing-step) * 13);
}

.px-13 {
  padding-left: calc(var(--spacing-step) * 13);
  padding-right: calc(var(--spacing-step) * 13);
}

.py-13 {
  padding-top: calc(var(--spacing-step) * 13);
  padding-bottom: calc(var(--spacing-step) * 13);
}

.m-14 {
  margin: calc(var(--spacing-step) * 14);
}

.mt-14 {
  margin-top: calc(var(--spacing-step) * 14);
}

.mr-14 {
  margin-right: calc(var(--spacing-step) * 14);
}

.mb-14 {
  margin-bottom: calc(var(--spacing-step) * 14);
}

.ml-14 {
  margin-left: calc(var(--spacing-step) * 14);
}

.mx-14 {
  margin-left: calc(var(--spacing-step) * 14);
  margin-right: calc(var(--spacing-step) * 14);
}

.my-14 {
  margin-top: calc(var(--spacing-step) * 14);
  margin-bottom: calc(var(--spacing-step) * 14);
}

.p-14 {
  padding: calc(var(--spacing-step) * 14);
}

.pt-14 {
  padding-top: calc(var(--spacing-step) * 14);
}

.pr-14 {
  padding-right: calc(var(--spacing-step) * 14);
}

.pb-14 {
  padding-bottom: calc(var(--spacing-step) * 14);
}

.pl-14 {
  padding-left: calc(var(--spacing-step) * 14);
}

.px-14 {
  padding-left: calc(var(--spacing-step) * 14);
  padding-right: calc(var(--spacing-step) * 14);
}

.py-14 {
  padding-top: calc(var(--spacing-step) * 14);
  padding-bottom: calc(var(--spacing-step) * 14);
}

.m-15 {
  margin: calc(var(--spacing-step) * 15);
}

.mt-15 {
  margin-top: calc(var(--spacing-step) * 15);
}

.mr-15 {
  margin-right: calc(var(--spacing-step) * 15);
}

.mb-15 {
  margin-bottom: calc(var(--spacing-step) * 15);
}

.ml-15 {
  margin-left: calc(var(--spacing-step) * 15);
}

.mx-15 {
  margin-left: calc(var(--spacing-step) * 15);
  margin-right: calc(var(--spacing-step) * 15);
}

.my-15 {
  margin-top: calc(var(--spacing-step) * 15);
  margin-bottom: calc(var(--spacing-step) * 15);
}

.p-15 {
  padding: calc(var(--spacing-step) * 15);
}

.pt-15 {
  padding-top: calc(var(--spacing-step) * 15);
}

.pr-15 {
  padding-right: calc(var(--spacing-step) * 15);
}

.pb-15 {
  padding-bottom: calc(var(--spacing-step) * 15);
}

.pl-15 {
  padding-left: calc(var(--spacing-step) * 15);
}

.px-15 {
  padding-left: calc(var(--spacing-step) * 15);
  padding-right: calc(var(--spacing-step) * 15);
}

.py-15 {
  padding-top: calc(var(--spacing-step) * 15);
  padding-bottom: calc(var(--spacing-step) * 15);
}

.m-16 {
  margin: calc(var(--spacing-step) * 16);
}

.mt-16 {
  margin-top: calc(var(--spacing-step) * 16);
}

.mr-16 {
  margin-right: calc(var(--spacing-step) * 16);
}

.mb-16 {
  margin-bottom: calc(var(--spacing-step) * 16);
}

.ml-16 {
  margin-left: calc(var(--spacing-step) * 16);
}

.mx-16 {
  margin-left: calc(var(--spacing-step) * 16);
  margin-right: calc(var(--spacing-step) * 16);
}

.my-16 {
  margin-top: calc(var(--spacing-step) * 16);
  margin-bottom: calc(var(--spacing-step) * 16);
}

.p-16 {
  padding: calc(var(--spacing-step) * 16);
}

.pt-16 {
  padding-top: calc(var(--spacing-step) * 16);
}

.pr-16 {
  padding-right: calc(var(--spacing-step) * 16);
}

.pb-16 {
  padding-bottom: calc(var(--spacing-step) * 16);
}

.pl-16 {
  padding-left: calc(var(--spacing-step) * 16);
}

.px-16 {
  padding-left: calc(var(--spacing-step) * 16);
  padding-right: calc(var(--spacing-step) * 16);
}

.py-16 {
  padding-top: calc(var(--spacing-step) * 16);
  padding-bottom: calc(var(--spacing-step) * 16);
}
