* {
  --rounded-box: 1rem;
  box-sizing: border-box;
}

html {
  width: 100vw;
  background-color: var(--base);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  place-items: center;
}
hr {
  --color: var(--base-content-muted);
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: solid 1px var(--color);
}
