* {
  --rounded-box: 1rem;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: var(--background);
  color: var(--background-content);
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
}

hr {
  --color: var(--surface);
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: solid 1px var(--color);
}

.radius {
  border-radius: var(--border-radius);
}
.border {
  border: var(--border);
}
