input:where([type="checkbox"][role="switch"]) {
  --height: 1rem;
  --color: var(--surface);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--height);
  width: calc(var(--height) * 2);
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  border-radius: calc(var(--height) / 2);
  outline: calc(var(--height) * 0.15) solid var(--color);
  vertical-align: text-bottom;
  background-color: var(--color);
  transition: background-color var(--transition);

  &::before {
    --color: var(--surface-content);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: var(--height);
    height: var(--height);
    border: none;
    border-radius: 50%;
    background: var(--color);
    transition:
      background-color var(--transition-duration) ease,
      left var(--transition-duration) ease;
  }

  &:checked {
    --color: var(--base-content);
    --color-content: var(--base);
    background-color: var(--color);

    &::before {
      left: 50%;
      background-color: var(--color-content);
    }
  }
}

input:where([type="checkbox"][role="switch"]):disabled {
  opacity: 0.4;
}
