/* tab-switching routine */
[role="tablist"] {
  display: flex;
  flex-wrap: wrap;

  [role="tab"] {
    order: -1;
    position: relative;

    input {
      width: 0;
      height: 0;
      position: absolute;
      opacity: 0;
    }

    &:has(input:checked) + [role="tabpanel"] {
      display: block;
    }
  }

  [role="tabpanel"] {
    width: 100%;
    display: none;
  }
}

/* styling */
[role="tablist"] {
  [role="tab"] {
    --height: var(--button-height);
    --font-weight: 500;
    --font-size: 1rem;
    --border: solid var(--dim-1) var(--fg);
    margin-inline-end: 1rem;
    min-height: var(--height);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    border-color: transparent;
    border-width: 0;
    transition:
      border-bottom-color var(--transition-duration),
      border-bottom-width var(--transition-duration);

    &:has(input[type="radio"]:checked) {
      border-bottom: var(--border);
    }
  }

  [role="tabpanel"] {
    &:has(pre) {
      padding: 0;
    }
  }
}