@layer semantic {
  :root {
    --accent-delta: -0.2;
    --muted-delta: -0.1;
    --muted-alpha: 0.3;

    --background-color: var(--neutral);
    --foreground-color: var(--neutral-content);
  }

  :root,
  .neutral,
  .primary,
  .secondary,
  .success,
  .danger,
  .warning,
  .info {
    --background-color-accent: oklch(
      from var(--background-color) calc(l + var(--accent-delta)) c h
    );

    --background-color-muted: oklch(
      from var(--background-color) calc(l) calc(c + var(--muted-delta)) h/
        var(--muted-alpha)
    );
  }
}

@layer components {
  :root,
  .muted {
    background-color: var(--background-color-muted);
    color: var(--background-color);
  }
}
