@layer semantic {
  :root {
    --accent-delta: -0.2;
    --muted-delta: -0.1;
    --muted-alpha: 0.3;

    --background-color: var(--neutral);
    --color: var(--neutral-content);

    --background-color-accent: oklch(
      from var(--background-color) calc(l + var(--accent-delta)) c h
    );
    --background-color-muted: oklch(
      from var(--background-color) l calc(c + var(--muted-delta)) h / 0.2
    );
    --background-color-muted-accent: var(--background-color);
  }
  .neutral {
    --background-color: var(--neutral);
    --color: var(--neutral-content);
  }

  .primary {
    --background-color: var(--primary);
    --color: var(--primary-content);
  }

  .secondary {
    --background-color: var(--secondary);
    --color: var(--secondary-content);
  }

  .success {
    --background-color: var(--success);
    --color: var(--success-content);
  }

  .danger {
    --background-color: var(--danger);
    --color: var(--danger-content);
  }

  .warning {
    --background-color: var(--warning);
    --color: var(--warning-content);
  }

  .info {
    --background-color: var(--info);
    --color: var(--info-content);
  }

  .neutral,
  .primary,
  .secondary,
  .success,
  .danger,
  .warning,
  .info {
    --background-color-accent: oklch(
      from var(--background-color) calc(l + var(--accent-delta)) c h
    );
    --background-color-muted: oklch(
      from var(--background-color) l calc(c + var(--muted-delta)) h / var(--muted-alpha)
    );
    --background-color-muted-accent: var(--background-color);
  }
}
