:root {
  --font-family-sans: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  --font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  --font-family: var(--font-family-sans);
  --font-weight: 500;
  --font-size: 1.15rem;
  --line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--fg);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  font-size: var(--font-size);
}

h1 {
  --font-size: 2rem;
  --line-height: 1.125;
  --font-weight: 300;
  --letter-spacing: -0.09375rem;
  --margin-top: calc(var(--font-size) * 1.3);
}

h2 {
  --font-size: 1.7rem;
  --line-height: 1.15;
  --font-weight: 500;
  --letter-spacing: -0.03125rem;
  --margin-top: calc(var(--font-size) * 1.2);
}

h3 {
  --font-size: 1.2rem;
  --line-height: 1.175;
  --font-weight: 600;
  --letter-spacing: 0rem;
  --margin-top: calc(var(--font-size) * 1.1);
}

h4 {
  --font-size: 1rem;
  --line-height: 1.2;
  --font-weight: 700;
  --letter-spacing: 0.015625rem;
  --margin-top: var(--dim-4);
}

h5 {
  --font-size: 1rem;
  --line-height: 1.225;
  --font-weight: 600;
  --letter-spacing: 0rem;
  --margin-top: var(--dim-4);
  opacity: 0.8;
}

h6 {
  --font-size: 0.9rem;
  --line-height: 1.25;
  --letter-spacing: 0.009375rem;
  --font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --margin-bottom: var(--dim-4);
  margin: var(--margin-top) 0 var(--margin-bottom) 0;
  padding: 0;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color);
}

hgroup {
  display: block;
  margin: var(--dim-8) 0 var(--dim-4) 0;
  padding: 0;
  padding-left: var(--dim-4);
  border-left: solid var(--dim-2) var(--fg);

  * {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--dim-1);
  }

  > p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--fg-muted);
  }
}

abbr {
  color: var(--secondary);
  font-style: italic;
}

b {
  color: var(--secondary);
  font-weight: 600;
}

em {
  color: var(--secondary);
  font-style: italic;
}

u {
  text-decoration: underline;
  text-decoration-color: var(--secondary);
}

s {
  text-decoration: line-through;
  text-decoration-color: var(--secondary);
}

p {
  margin: 1rem 0;
  padding: 0;
}

kbd {
  display: inline-block;
  background-color: var(--surface);
  color: var(--surface-content);
  font-weight: 600;
  letter-spacing: +0.05rem;
  padding: 0.1rem 0.2rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  border: solid 1px var(--surface-content);
  box-shadow: 2px 2px 2px var(--surface-content);
}

cite {
  font-style: italic;
  font-size: 0.8rem;
}

cite::before {
  content: "— ";
}

mark {
  --mark: var(--secondary);
  background-color: var(--mark);
  outline: solid 0.1rem var(--mark);
  color: var(--secondary-content);
  border-radius: 0.1rem;
  vertical-align: baseline;
}

del {
  --deleted: var(--error);
  background-color: var(--deleted);
  outline: solid 0.1rem var(--deleted);
  color: var(--secondary-content);
  border-radius: 0.1rem;
  vertical-align: baseline;
}

ins {
  --inserted: var(--success);
  background-color: var(--success);
  outline: solid 0.1rem var(--success);
  color: var(--secondary-content);
  border-radius: 0.1rem;
  text-decoration: none;
}

blockquote {
  margin: var(--dim-2) 0;
  padding: var(--dim-1) var(--dim-4);
  border-left: solid var(--dim-1) var(--secondary);
}

blockquote p {
  padding: 0;
  margin: 0;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote cite {
  display: block;
  padding: 0;
  margin: 0.5rem 0 0 0;
}
